/* --------------------------------------reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

/* ------------------------------------------general styles */

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --title-color: #d7b9e4;
  --hero-bg-color: #171c8f;
  --footer-bg-color: #477a7b;
  --bg-main-color: #ffffff;
  --bg-color-1: #f4c3cc;
  --bg-color-2: #fff4f0;
  --accent-text-color-1: #ef3340;
  --accent-color: #e16ba9;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

/* -----------------------------------------------header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  padding-top: 30px;
  padding-bottom: 30px;

  width: 100%;
}

.head-container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {}

.link {}

.site-logo {}

.site-nav {}

.nav-list {
  display: flex;
}

.nav-list .item {
  font-size: 15px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.nav-list .item:hover {
  color: var(--accent-text-color-1);
}

.nav-list .item:not(:last-child) {
  margin-right: 35px;
}

.nav-list .link {}

/* ------------------------------------------hero */

.hero {
  position: relative;

  max-width: 1440px;
  padding-top: 110px;
  padding-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--hero-bg-color);
}

.hero-container {
  padding-left: 45px;
  display: flex;
}

.hero-content {
  padding-top: 67px;
  padding-left: 68px;
}

.site-title {
  max-width: 414px;
  margin-bottom: 13px;

  font-weight: 900;
  font-size: 53px;
  line-height: 1.58;
  letter-spacing: 7.65px;
  text-transform: uppercase;

  color: var(--title-color);
}

.hero-subtitle {
  margin-bottom: 20px;
  max-width: 338px;

  font-weight: 500;
  font-size: 21px;
  line-height: 1.76;
  letter-spacing: 0.24px;

  color: var(--secondary-text-color);
}

.logo-link {}

.hero .link {}

.site-logo {}

.leaves-pink {
  position: absolute;
  top: 0;
  right: 0;
}

.leaves-red {
  position: absolute;
  bottom: -35px;
  left: 0;
}

.leaves-blue {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* -------------------------------------------------menu */

.menu {
  padding: 90px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color-1);
}

.menu-list {
  display: flex;
  gap: 45px;
}

.menu .item {
  width: 390px;
}

.menu .img {
  margin-bottom: 30px;
}

.menu .uptitle {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 14px;
  border-radius: 15px;

  font-size: 13px;
  line-height: 1.08;
  letter-spacing: 2.08px;
  text-transform: uppercase;

  color: #ef3340;
  background-color: var(--bg-main-color);
}

.menu .title {
  max-width: 352px;
  margin-bottom: 20px;

  font-size: 26px;
  line-height: 1.31;
  letter-spacing: 4.16px;
  text-transform: uppercase;
}

.menu .link {
  display: flex;
  flex-direction: column;

  font-size: 15px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.menu .link::after {
  content: '';
  width: 112px;
  height: 5px;
  background-image: url(../images/wave.svg);
  display: inline-block;
  margin-top: 4px;
}

/* --------------------------------------------------let`s go */

.lets-go {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 127px;
  padding-bottom: 87px;
}

.lets-go-title {
  margin-bottom: 104px;

  font-size: 53px;
  line-height: 84px;
  letter-spacing: 1.58;
  text-transform: uppercase;
}

.lets-go-list {
  display: flex;
  gap: 90px;
}

.lets-go .list-item:last-child {
  margin-top: -216px;
}

.lets-go .item:nth-child(-n+4) {
  margin-bottom: 114px;
}

.lets-go .img {
  margin: 40px 40px 69px 40px;
}

.lets-go-subtitle {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

/* -----------------------------------------------------modern */

.modern {}

.modern-thumb {}

.modern-title {
  margin-bottom: 9px;

  font-size: 44px;
  line-height: 1.59;
  letter-spacing: 5.12px;
  text-transform: uppercase;
}

.modern-subtitle {
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 21px;
  line-height: 1.57;
  letter-spacing: 0.21px;
}

.modern .button {
  padding-top: 16px;
  padding-bottom: 19px;
  padding-left: 40px;
  padding-right: 40px;
  background: var(--accent-color);
  border-radius: 50px;

  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}