/* --------------------------------------reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

/* ------------------------------------------general styles */

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --title-color: #d7b9e4;
  --hero-bg-color: #171c8f;
  --footer-bg-color: #477a7b;
  --bg-main-color: #ffffff;
  --bg-color-1: #f4c3cc;
  --bg-color-2: #fff4f0;
  --line-bg: #7BA4DB;
  --accent-text-color-1: #ef3340;
  --accent-color: #e16ba9;
  --footer-border-color: #91AFB0;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

/* -----------------------------------------------header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  padding-top: 30px;
  padding-bottom: 30px;

  width: 100%;
}

.head-container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {}

.link {}

.site-logo {}

.site-nav {}

.nav-list {
  display: flex;
}

.nav-list .item {
  font-size: 15px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.nav-list .item:hover {
  color: var(--accent-text-color-1);
}

.nav-list .item:not(:last-child) {
  margin-right: 35px;
}

.nav-list .link {}

/* ------------------------------------------hero */

.hero {
  position: relative;

  max-width: 1440px;
  padding-top: 110px;
  padding-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--hero-bg-color);
}

.hero-container {
  position: relative;
  padding-left: 45px;
  display: flex;
}


.hero .hero-container::after {
  position: absolute;
  bottom: -85px;
  left: 0;

  content: '';
  display: block;
  width: 298px;
  height: 216px;
  background-image: url(../images/leaves1.svg);
  background-repeat: no-repeat;
}


.hero-content {
  padding-top: 67px;
  padding-left: 68px;
}

.hero::before {
  position: absolute;
  top: 0;
  right: -37px;

  content: '';
  display: block;
  width: 298px;
  height: 216px;
  background-image: url(../images/leaves2.svg);
  background-repeat: no-repeat;
}

.hero::after {
  position: absolute;
  bottom: -52px;
  right: -12px;

  content: '';
  display: block;
  width: 235px;
  height: 231px;
  background-image: url(../images/leaves3.svg);
  background-repeat: no-repeat;
}

.site-title {
  max-width: 414px;
  margin-bottom: 13px;

  font-weight: 900;
  font-size: 53px;
  line-height: 1.58;
  letter-spacing: 7.65px;
  text-transform: uppercase;

  color: var(--title-color);
}

.hero-subtitle {
  margin-bottom: 20px;
  max-width: 338px;

  font-weight: 500;
  font-size: 21px;
  line-height: 1.76;
  letter-spacing: 0.24px;

  color: var(--secondary-text-color);
}

.logo-link {}

.hero .link {}

.site-logo {}


/* -------------------------------------------------menu */

.menu {
  padding: 90px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color-1);
}

.menu-list {
  display: flex;
  gap: 45px;
}

.menu .item {
  width: 390px;
}

.menu .img {
  margin-bottom: 30px;
}

.menu .uptitle {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 14px;
  border-radius: 15px;

  font-size: 13px;
  line-height: 1.08;
  letter-spacing: 2.08px;
  text-transform: uppercase;

  color: #ef3340;
  background-color: var(--bg-main-color);
}

.menu .title {
  max-width: 352px;
  margin-bottom: 20px;

  font-size: 26px;
  line-height: 1.31;
  letter-spacing: 4.16px;
  text-transform: uppercase;
}

.menu .link {
  display: flex;
  flex-direction: column;

  font-size: 15px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.menu .link::after {
  content: '';
  width: 112px;
  height: 5px;
  background-image: url(../images/wave.svg);
  display: inline-block;
  margin-top: 4px;
}

/* --------------------------------------------------let`s go */

.lets-go {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 127px;
  padding-bottom: 87px;
}

.lets-go-title {
  margin-bottom: 104px;

  font-size: 53px;
  line-height: 84px;
  letter-spacing: 1.58;
  text-transform: uppercase;
}

.lets-go-list {
  display: flex;
  gap: 90px;
}

.lets-go .list-item:last-child {
  margin-top: -216px;
}

.lets-go .item:nth-child(-n+4) {
  margin-bottom: 114px;
}

.lets-go .img {
  margin: 40px 40px 69px 40px;
}

.lets-go-subtitle {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

/* -----------------------------------------------------modern */

.modern {
  position: relative;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 45px;
  padding-right: 45px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--bg-color-2)
}

.modern::before {
  content: '';

  position: absolute;
  bottom: 140px;
  left: 0;

  display: block;
  width: 241px;
  height: 252px;
  background: url(../images/leaves4.svg) no-repeat;
}

.modern::after {
  content: '';

  position: absolute;
  top: -216px;
  right: 0;

  display: block;
  width: 333px;
  height: 476px;
  background: url(../images/leaves5.svg) no-repeat;
}

.modern-wrap {
  display: flex;
}

.modern-thumb {
  padding-left: 95px;
  padding-top: 70px;
}

.modern-title {
  max-width: 470px;

  margin-bottom: 9px;
  font-size: 44px;
  line-height: 1.59;
  letter-spacing: 5.12px;
  text-transform: uppercase;
}

.modern-subtitle {
  max-width: 517px;

  margin-bottom: 25px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.57;
  letter-spacing: 0.21px;
}

.modern .button {
  padding-top: 16px;
  padding-bottom: 19px;
  padding-left: 40px;
  padding-right: 40px;
  background: var(--accent-color);
  border-radius: 50px;

  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.leaves-yellow {
  position: absolute;
}

.leaves-many {
  position: absolute;
}

/* -----------------------------------------------------line section */

.line {
  height: 69px;
  margin-bottom: 100px;

  background-image: url(../images/section-bg.png);
  background-repeat: repeat-x;
  background-color: var(--line-bg);
  background-position: 0 50%;

}

/* ----------------------------------------------------------around */

.around {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.around-title {
  margin-bottom: 22px;

  font-size: 44px;
  line-height: 1.59;
  text-align: center;
  letter-spacing: 5.12px;
  text-transform: uppercase;
}

.around-descr {
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.21px;
}

.around-subtitle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.around-img-list {
  display: flex;
  gap: 45px;
}

.item {}

.around-img {}

/* ---------------------------------------------------footer */

.footer {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
}

.footer-top {
  padding: 45px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--footer-border-color);
}

.footer-title-wrap {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin-bottom: 13px;

  font-size: 27px;
  line-height: 1.3;
  letter-spacing: 4.32px;
  text-transform: uppercase;
}

.footer-subtitle {
  font-size: 18px;
  line-height: 1.83;
  letter-spacing: 0.21px;
}

.button {
  padding: 15px 20px 15px 20px;
  border-radius: 45px;

  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: #477A7B;
  background-color: var(--bg-main-color);
}

.footer-middle {
  padding: 63px 120px 40px 120px;
  border-bottom: 1px solid var(--footer-border-color);
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-right: 225px;
}

.footer-list {
  display: flex;
  flex-grow: 1;
}

.footer-list>.item {
  width: 50%;
}

.link-list {}

.link-list .item {
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.link-list .item:last-child {
  margin-bottom: 0;
}

.address {
  margin-left: 22px;
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-size: 17px;
  line-height: 1.88;
  letter-spacing: 0.19px;
}

.footer-bottom {
  padding: 25px 120px;
}

.footer-bottom-list {
  display: flex;
}

.footer-bottom-list .item:first-child {
  font-weight: 700;
}

.footer-bottom-list .item {
  margin-right: 20px;
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.98px;
  text-transform: uppercase;
}

.footer-bottom-list .item:not(:last-child)::after {
  content: '';
  margin-left: 5px;
  display: block;
  width: 1px;
  height: 14px;
  background-color: var(--bg-main-color);
}